@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">First App - Welcome</h1>
    <p>Student name: Dương Quốc Huy - Student ID: 2200009428 </p><br />
    <p>Birthdate: 27/10/2004 - Email: huyq9191@gmail.com</p><br />
    <p>Hobbies: play games and sleep </p>


</div>
